* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* header */
.title {
  width: 500px;
  margin: 2% auto;
  display: block;
}
.tally-box {
  width: 500px;
  height: 35px;
  text-align: center;
  margin: 2% auto;
  background-color: black;
  color: white;
  padding: 2%;
  display:flex;
  justify-content: space-between;
}
p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2em;
  text-align: center;
}
/* main game */
.main {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}
.gameboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 0;
  margin: 0 auto;
}
.block {
  width: 30%;
  height: 30%;
  background-image: url(images/empty.png);
  background-size: cover;
}
.blue-jump {
  width: 400px;
  height: 600px;
  background-image: url(images/BlueWin.png);
}
.red-jump {
  width: 400px;
  height: 600px;
  background-image: url(images/RedWin.png);
}
.middle {
  height: 700px;
}
.reset {
  width: 150px;
  height: 50px;
  margin: 5% auto 0 auto;
  display: block;
  background-color: black;
  color: white;
}


/* ANIMATIONS */
.jump-animate {
  animation: jump 1.5s steps(50) infinite;
}
@keyframes jump {
  from {background-position: 0;}
  to {background-position: -20000px;}
}
.winner {
  -webkit-animation: tada 1s;
  animation: tada 1s;
}

@-webkit-keyframes tada {
from {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
10%,
20% {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
}
30%,
50%,
70%,
90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
40%,
60%,
80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
to {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
}
}
@keyframes tada {
from {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
10%,
20% {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
}
30%,
50%,
70%,
90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
40%,
60%,
80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
to {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
